.bread-menu
	%a{ :href => '/' }
		PROJECTS
		
/ .main-menu
/ 	%a{ :href => '#' }
/ 		POSTS

/ 	%a{ :href => '#' }
/ 		PHOTOS

.clear

.header.image
	%img{ :src => '/img/jon.jpg', :width => '84', :height => '84', :align => 'left' }
	Hey there, I'm Jonathan Ristovski, currently working with SeamlessMD to improve healthcare.

%a{ :href => 'https://seamless.md', :target => '_blank' }
	%div.main-link.p1
		%span
			SeamlessMD

%a{ :href => 'http://knok.me', :target => '_blank' }
	%div.main-link.p2
		%span
			Knok.Me

%a{ :href => 'http://prologue.me', :target => '_blank' }
	%div.main-link.p7
		%span
			Prologue

%a{ :href => 'http://campusrides.ca', :target => '_blank' }
	%div.main-link.p3
		%span
			Campus Rides

%a{ :href => 'http://dribbble.com/aboutjon/projects/125096-vibenote', :target => '_blank' }
	%div.main-link.p4
		%span
			Vibenote

%a{ :href => 'http://loosebutton.com', :target => '_blank' }
	%div.main-link.p5
		%span
			Loose Button

%a{ :href => 'http://coursemodo.com/', :target => '_blank' }
	%div.main-link.p6
		%span
			Coursemodo